<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d09a64">  <td>23/04/03 05:22:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.getRequest()[pri:1, instance:AppTest@295eaa7c]">getRequest</td> 
  <td>main@612937843</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/04/03 05:22:26</td>   <td>1666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.postRequest()[pri:2, instance:AppTest@295eaa7c]">postRequest</td> 
  <td>main@612937843</td>   <td></td> </tr>
</table>
